<div class="container-fluid py-5 ">
    <!-- nombre, img y descripcion -->
    <div class="container mb-4">
        <div class="row justify-content-center align-item-center">
            <!-- nombre -->
            <div class="col-12">
                <h2 class="text-center my-5 display-3 ">Otros</h2>
            </div>
            <!-- imagen -->
            <div class="col-6 offset-1">
                <img class="img_juego etxt-center rounded" src="assets/cuack.png" alt="foto del juego" >
            </div>
        </div>
    </div>
    <!-- descripcion -->
    <div class="container py-5 mb-5">
        <div class="row">
            <div class="col p-4 text-center shadow rounded parteA ">
                <h3 class="display-4 my-3">Descripción</h3>
                <p>Aqui agrupo distintos proyectos propios y otros de surgidas desde trabajos de asignaturas de la carrera</p>
            </div>
        </div>
    </div>


    <!-- video -->
    <div class="container pb-5">
        <h3 class="text-center">MercadoTrueque sythwave POO</h3>
        <div class="row ">
            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/txBH7rm5wgA" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- video -->
    <div class="container pb-5">
        <h3 class="text-center">Zelda redes</h3>
        <div class="row ">
            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ygws4N4aJE4" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- video -->
    <div class="container pb-5">
        <h3 class="text-center">CuakCuakCuak</h3>
        <div class="row ">
            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eFIz7E9UJJM" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row shadow my-5 py-5 colorA">
        <div class="col-12">
            <h3 class="text-center">Experiencia en desarrollo web</h3>
            <div class="text-center">

                <a  href="https://pancitoconquesito.github.io/webtarea3/inicio">https://pancitoconquesito.github.io/webtarea3/inicio</a>
            </div>
            <div class="col-12 col-md-6 rounded my-3 p-3 centrar shadow colorB">
                <img src="assets/webimg.png " alt="foto del juego" class="img_g">
            </div>
        </div>
    </div>
</div>


 <!-- galeria de imagenes -->
 <div class="container-fluid page-top py-5 parteB shadow">
    <h3 class="text-center display-2 mb-5 mt-3 text-white ">Proyecto Conejo</h3>
    <div class="row p-5">

        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/base_00001.png" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/01_00000.gif" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/img.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/img2.jpeg" alt="foto del juego" class="img_g">
        </div>
        
    </div>
</div>