

                  <div class="container-fluid py-5 ">
                    <!-- nombre, img y descripcion -->
                    <div class="container mb-4">
                        <div class="row justify-content-center align-item-center">
                            <!-- nombre -->
                            <div class="col-12">
                                <h2 class="text-center my-5 display-3 ">Un Misterio en el Puerto</h2>
                            </div>
                            <!-- imagen -->
                            <div class="col-6 offset-1">
                                <img class="img_juego text-center" src="assets/umeep.png" alt="foto del juego" >
                                
                            </div>
                        </div>
                    </div>
                    <!-- descripcion -->
                    <div class="container py-5 mb-5">
                        <div class="row">
                            <div class="col p-4 text-center shadow rounded parteA ">
                                <h3 class="display-4 my-3">Descripción</h3>
                                <p>Juego con el objetivo de dar a conocer e incentivar sobre la historia, cultura, flora y fauna
                                    de la región de Valparaíso, de manera lúdica e inmersiva.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- video -->
                    <div class="container pb-5">
                        <div class="row ">
                
                            <div class="col embed-responsive embed-responsive-16by9">
                                <iframe width="1280" height="720" src="https://www.youtube.com/embed/-SSTr98dxEs" title="trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                
                 <!-- galeria de imagenes -->
                 <div class="container-fluid page-top py-5 parteB shadow">
                    <h3 class="text-center display-2 mb-5 mt-3 text-white ">Galería de imágenes</h3>
                    <div class="row p-5">
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/umeep.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_1.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_2.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_3.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_4.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_5.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_6.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_7.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_8.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_9.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_10.png" alt="foto del juego" class="img_g">
                        </div>
                        <div class="col-12 col-md-6 rounded my-3 p-3">
                            <img src="assets/VALPO_11.png" alt="foto del juego" class="img_g">
                        </div>
                
                    </div>
                </div>